1.	Write a python program to find sum of numbers from 1 to n.

In [1]:
a=int(input("enter the num"))
sum=0
for i in range(1,a):
    sum=sum+i
    print(sum)

enter the num10
1
3
6
10
15
21
28
36
45

2.	Print all the odd numbers from 1 to N.

In [2]:
a=int(input("enter the numbers"))
for i in range(1,a,2):
    print(i)

enter the numbers10
1
3
5
7
9

3.	Print the prime numbers between two numbers num1 and num2 both inclusive.

In [24]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))


for num in range(num1, num2 + 1):
    if num > 1: 
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break
        else:
            print(num, end=" ")

Enter the first number: 10
Enter the second number: 20
11 13 17 19

4.	Input an integer from the user. Find the sum of numbers at even positions and product of numbers at odd positions.  Example: 12345 5 is at position 1(odd), 4 is at position 2(even) and so on.

In [ ]:
n = int(input("Enter a number"))
sum = 0
prod = 1
ch = 1
length = len(str(n))


n = str(n)
for i in n:
    print(i)
    if ch%2 == 0:
        sum = sum+int(i)
        
    else:
        prod = prod*int(i)
        
    ch = ch + 1
            
print(sum,prod)

5.	Write a Python program to calculate the sum of the following series. The value n is input. a. (1)+(1+2)+(1+2+3)+ …+(1+2+3+…+n)

In [ ]:

n = int(input("Enter a number"))
sum = 0
for i in range(1,n+1):
    for j in range(i+1):
        sum = sum + j
print(sum)

6.	Write a python program to print the first 10 entries of the multiplication table of n numbers.

In [ ]:
n = int(input("Enter a number"))
for i in range(1,11):
    print(i,"*",n,"=",n*i)

Enter a number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

7.	Python program to print a pyramid pattern and inverted pyramid pattern also. 
          *
       *    *
   *     *	     *

In [32]:
for i in range(1,4):
    for k in range(3-i):
        print(" ",end="")
    for j in range(i):
        print("*",end = "  ")
    print("\n")    
for i in range(3,0,-1):
    for k in range(3-i):
        print(" ",end="")
    for j in range(i):
        print("*",end = "  ")
    print("\n")

  *

 *  *

*  *  *

*  *  *

 *  *

  *